@font-face {
  font-family: "iconfont"; /* Project id 2644936 */
  src: url('iconfont.woff2?t=1691733355623') format('woff2'),
       url('iconfont.woff?t=1691733355623') format('woff'),
       url('iconfont.ttf?t=1691733355623') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-SCMliucheng:before {
  content: "\e602";
}

.icon-liuchengguanli-:before {
  content: "\e605";
}

.icon-ic-header-report:before {
  content: "\e61d";
}

.icon-keshihuatubiao-:before {
  content: "\e633";
}

.icon-jurassic_process:before {
  content: "\e6c4";
}

.icon-alibaba1193368easyiconnet:before {
  content: "\e61e";
}

.icon-iconbaiduditu:before {
  content: "\e640";
}

.icon-tubiao:before {
  content: "\e62d";
}

.icon-biaoge:before {
  content: "\e615";
}

.icon-mapOfGaud:before {
  content: "\e62b";
}

.icon-ditu:before {
  content: "\e666";
}

.icon-OpenLayers:before {
  content: "\e678";
}

.icon-eleme:before {
  content: "\e668";
}

.icon-canvas:before {
  content: "\e611";
}

.icon-fuwenben:before {
  content: "\e6e2";
}

.icon-jianjie:before {
  content: "\e65d";
}

.icon-tianditu:before {
  content: "\e6a2";
}

